# local config folders
_*

# OS
.DS_Store

# IDE
**/.vscode/ipch
/.vs

# Python
*.py[cod]
__pycache__/
.venv/

# Generated outputs
*.usdc
*.usda
*.usd
*.usdz
*.mp4
*.png

# Isaac Sim app symlink
/app
